doctype html
html
	head
		title Welcome
		link(rel="stylesheet" href="../css/index.css")
	body
		div.index
			div.header
				div.background
					div.content
						p Home
					div.content
						p Download
					div.content
						p.assassin-logo 
							span AS
							span {
							span SASS
							span }
							span IN
							
					div.content
						p Getting Started
					div.content
						p Documentation
