html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Boom";
  src: url('../fnt/ethnocentric.ttf?1342796780') format('truetype');
}
@font-face {
  font-family: "Curlie";
  src: url('../fnt/Arabella.ttf?1061994366') format('truetype');
}
.index {
  background: url("../img/stars.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

.hero, .banner, .pitch {
  background: url("../img/stars-blur.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 32px;
}

.index, .hero, .banner, .banner div, .pitch, .pitch-section {
  overflow: hidden;
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  *zoom: 1;
}

.index, .hero, .banner, .hero h1 {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.pitch {
  width: 80%;
  float: left;
  margin-left: 10%;
}

.banner, .hero, .pitch, .pitch-header, .pitch-section h2 {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.hero, .pitch {
  border-top: 2px solid rgba(255, 255, 255, 0.2);
}

.pitch {
  border: 2px solid rgba(255, 255, 255, 0.2);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.banner div {
  width: 20%;
  float: left;
  height: 64px;
}
.banner div:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
}
.banner div p {
  font-size: 24px;
  line-height: 64px;
}
.banner div p.banner-logo {
  font-family: "Curlie";
  font-size: 64px;
  margin-top: -16px;
}

.hero h1 {
  font-size: 72px;
  line-height: 96px;
  margin-top: 40px;
  font-weight: 500;
  font-family: "Times New Roman", Times, "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-family: "Curlie";
}
.hero p {
  font-family: "Boom";
  font-size: 12px;
  margin-left: -256px;
}
.hero p:last-child {
  margin-left: 0;
  margin-bottom: 72px;
  font-size: 16px;
}

.pitch-header, .pitch-section h2 {
  line-height: 3;
  font-size: 32px;
}

.pitch-section {
  width: 33.33333%;
  float: left;
}
.pitch-section h2 {
  font-size: 24px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.pitch-section p {
  padding: 16px;
}
